<div class="container">
    <mat-sidenav-container color="primary" class="sidenav-container">        
        <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">
            <mat-nav-list>
                <a mat-list-item routerLink=".">
                    <mat-icon>person_pin</mat-icon> <span style="margin-left: 10px; margin-right:10px;">Usuarios</span>
                </a>
                <a mat-list-item routerLink="/dashboard/appointments">
                    <mat-icon>calendar_today</mat-icon> <span style="margin-left: 10px; margin-right:10px;">Citas
                    </span>
                </a>                
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div class="container">
                <app-superior-menu [lateralMenu]="snav" [showMenu]="!mobileQuery.matches"></app-superior-menu>
                <router-outlet></router-outlet>                
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>