.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-container {    
    flex: 1;
}
  
.filler {
    flex: 1 1 auto;
 }

.gap {
    margin-right: 10px;
 }