.filler {
    flex: 1 1 auto;
 }
 .gap {
    margin-right: 10px;
 }

 .example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .link{
   cursor:pointer; 
   -moz-user-select: none; 
   -webkit-user-select: none;
   text-decoration: none;
   color:white;
  }

  .link:visited{
   text-decoration: none;
   color:white;
  }

  .logo{
   background-image: url("src/assets/logo.png");  
   height: 50px;
   width:30px;
   margin-left: 8px; 
   margin-right:5px;   
   background-position: 0 50%;
   background-size: 30px;
  }