<mat-toolbar color="primary">
    <button mat-icon-button (click)="onClickMenu()" *ngIf="!showMenu">
        <mat-icon>menu</mat-icon>
    </button>
    <a routerLink="." class="link">
        <div class="logo" alt="Logo"></div>
    </a>
    <a routerLink="." class="link">
        <span style="margin-right:20px;">Clinic App</span>
    </a>
    <button class="gap" routerLink="." *ngIf="showMenu" mat-button>
        <mat-icon>person_pin</mat-icon> Usuarios
    </button>
    <button class="gap" routerLink="/dashboard/appointments" *ngIf="showMenu" mat-button>
        <mat-icon>calendar_today</mat-icon> Citas
    </button>
    <span class="filler"></span>
    <button mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>