.container{
    margin: 10px;
}

.property{
    margin: 10px;    
}

.property-title{
    font-size: 1.5em; 
    font-weight: lighter;
}

.property-value{
    margin-left: 10px;
}

.mat-card-title{
    margin-bottom: 20px;
}