<div class="container">
    <mat-card>
        <mat-card-title>
            <span style="margin-bottom: 30px">Información del paciente</span> 
        </mat-card-title>
        <mat-card-content>            
            <div class="property">
                <span class="property-title">Nombres:</span>
                <span class="property-value">Pepito</span>
            </div>
            <br>
            <div class="property">
                <span class="property-title">Apellidos:</span>
                <span class="property-value">Perez</span>
            </div>
            <br>
            <div class="property">
                <span class="property-title">Nickname:</span>
                <span class="property-value">pepitoperez123</span>
            </div>
            <br>
            <div class="property">
                <span class="property-title">Miembro desde:</span>
                <span class="property-value">2019-01-01</span>
            </div>
        </mat-card-content>
    </mat-card>    
</div>