.loadingspinner{
    display:flex;
    flex: row wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;    
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;  
}

.container{
    display:flex;
    flex: row wrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color:	#005073;
    margin: 0;
    padding: 0;
}

.logincontainer{
    background-color:white;    
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom:10px solid #1ebbd7;
    text-align: center;
    overflow:hidden;
    border-radius: 5%;
}

.full-width{
    width: 80%;
    margin: 10px;
}

.centered{
    text-align: center;
}

.button{
    width: 80%;
    height: 50px;
}

div.logocontainer{
    display:flex; 
    flex: row wrap; 
    justify-content: center; 
    align-items: center;
}

div.logocontainer > span{
    font-size: 1.5em;
}
