<div class="loadingspinner" *ngIf="spinnerVisible">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<div class="container">
    <div class="logincontainer mat-elevation-z10">
        <div class="logocontainer">
            <img src="assets/logo.png" style="max-width:100px;" alt="Logo">
            <span>Clinic app</span>
        </div>

        <form>
            <mat-form-field class="full-width centered">
                <mat-label>Usuario</mat-label>
                <input type="text" [formControl]="userFormControl" [errorStateMatcher]="matcher" matInput required />
                <mat-error *ngIf="userFormControl.hasError('required')">
                    Usuario es <strong>requerido</strong>
                </mat-error>
                <mat-error *ngIf="userFormControl.hasError('maxlength')">
                    La longitud máxima es de 20 caracteres
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width centered">
                <mat-label>Contraseña</mat-label>
                <input type="text" [formControl]="passwordFormControl" matInput required />
                <mat-error *ngIf="passwordFormControl.hasError('required')">
                    La contraseña es <strong>requerida</strong>
                </mat-error>
                <mat-error *ngIf="passwordFormControl.hasError('maxlength')">
                    La longitud máxima es de 16 caracteres
                </mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" (click)="onSubmit()" class="button" type="submit">Ingresar</button>
        </form>
    </div>
</div>