@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body{
    padding: 0;
    margin: 0;
    width:100%;
    height: 100%;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container{
    background-color: 	#3f51b5;
    color: white;    
}

.mat-list-item-content{
    color:white;
}