<div class="container">
    <button mat-raised-button routerLink="creation" color="primary">Nueva cita</button>    
    <h1 style="margin-top:10px;">Citas pendientes</h1>
    <div class="card-container">
        <mat-card class="small-card" *ngFor="let index of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">
            <mat-card-title color="primary">Odontología {{index}}</mat-card-title>
            <mat-card-content>
                <div class="property">
                    <span class="property-title">Fecha:</span>
                    <span class="property-value">2020-02-20 04:00:00</span>
                </div>
                <p>
                    Esta es una cita de odontología, llegar con 30 minutos de antelación para facturar
                </p>
            </mat-card-content>
            <mat-card-actions>
                <div class="filler"></div>
                <button mat-button>Cancelar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>