.small-card{
    max-width: 400px;
    margin: 5px;    
}

.container{
    margin: 10px;
}

.card-container{    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;    
}

.property{
    margin: 10px;    
}

.property-title{
    font-size: 1.5em; 
    font-weight: lighter;
}

.property-value{
    margin-left: 10px;
}

.mat-card-title{
    margin-bottom: 20px;
}