<div class="container">
    <form action="">
        <mat-card class="small-card">
            <mat-card-title>Nueva cita</mat-card-title>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <mat-label>Fecha</mat-label>
                    <input matInput placeholder="dd-mm-aaaa" [matDatepicker]="picker" [formControl]="dateFormControl"
                        [errorStateMatcher]="matcher" (click)="picker.open()">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="dateFormControl.hasError('validDate') && !dateFormControl.hasError('required')">
                        La fecha no puede estar en el pasado
                    </mat-error>
                    <mat-error *ngIf="dateFormControl.hasError('required')">
                        La fecha es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <mat-label>Hora</mat-label>
                    <input matInput placeholder="24hr format" aria-label="24hr format" [ngxTimepicker]="fullTime"
                        [format]="24" [formControl]="timeFormControl" [errorStateMatcher]="matcher" readonly>
                    <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                    <mat-error *ngIf="timeFormControl.hasError('required')">
                        La hora es <strong>requerida</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width">
                    <input type="text" placeholder="Tipo de cita" matInput
                        [formControl]="typeControl" [errorStateMatcher]="matcher" [matAutocomplete]="auto">
                    <mat-autocomplete autoActiveFirstOption [displayWith]="typeDisplayFunction" #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredAppointmentTypes | async" [value]="option">
                            {{option.description}}
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="typeControl.hasError('required')">
                        El tipo es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="typeControl.hasError('validAppointmentType')">
                        Debe seleccionar un tipo de cita
                    </mat-error>
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button (click)="onCreateAppointment()" color="primary" type="submit">Crear cita</button>
                <button mat-raised-button routerLink="../" color="warn">Cancelar</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>